.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: inherit;
}
.game {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 0.25rem 1rem;
  align-items: center;
  justify-content: center;
}
@media (min-width: 620px) and (min-aspect-ratio: 15 / 11) {
  .game {
    display: grid;
    flex: 0;
    grid-template-areas:
      "board category"
      "board phrase"
      "board keyboard";
    align-items: end;
    margin: auto;
  }
}
