.input {
  position: relative;
  display: flex;
  align-items: center;
  width: var(--size);
  max-width: 22rem;
  height: 4rem;
  padding: 0 0.5rem;
  font-family: var(--font-mono);
  font-size: 2.5rem;
  color: var(--white);
  white-space: pre;
  cursor: text;
  user-select: none;
  /*overflow-x: auto;*/
  background-color: var(--dark-bg);
  border: 3px solid var(--main-d);
  border-radius: 0.5rem;
  isolation: isolate;
}
.input[data-focus="true"] {
  border-color: var(--main);
}
.placeholder {
  position: absolute;
  left: 0;
  z-index: -1;
  width: 100%;
  font-family: var(--font-simple);
  color: var(--main);
  text-align: center;
}
