@keyframes blinking {
  0%  { opacity: 1; }
  40% { opacity: 0; }
  60% { opacity: 0; }
  100%{ opacity: 1; }
}

.input{
  color: var(--white);
  display: flex;
  align-items: center;
  font-family: var(--font-mono);
  font-size: 2.5rem;
  border: 3px solid var(--main-d);
  border-radius: 0.5rem;
  padding: 0 0.5rem;
  max-width: 22rem;
  user-select: none;
  width: var(--size);
  height: 4rem;
  white-space: pre;
  overflow-x: auto;
  background-color: var(--dark-bg);
}
.input[focus="true"]{
  border-color: var(--main);
}
.placeholder{
  width: 100%;
  color: var(--main);
  text-align: center;
  font-family: var(--font-simple);
}
@supports selector(body:has(div)){
  .input[focus="true"]:has(.placeholder)::before{
    content: '_';
    position: absolute;
    animation: blinking 0.6s linear infinite;
  }
}
