.points {
  display: flex;
  flex-direction: column;
  grid-area: points;
  align-items: center;
  padding: 0.5rem 0;
  font-size: 2.7rem;
  letter-spacing: 0.1rem;
}
.point {
  display: flex;
  align-items: center;
}
