.button{
  appearance: none;
  display: inline-block;
  min-width: 10rem;
  font-size: 2rem;
  padding: 0.4rem;
  font-family: var(--font-main);
  background-color: var(--button);
  border: 2px solid var(--button-d);
  border-radius: 0.5rem;
  color: var(--white);
  cursor: pointer;
  text-decoration: none;
  text-transform: lowercase;
  text-align: center;
  transition:
    background-color 150ms ease-out,
    filter 150ms ease-in-out;
}
.button.small{
  font-size: 1.5rem;
  padding: 0.2rem 0.6rem;
  margin: 0;
  min-width: 4rem;
}
.button:hover{
  background-color: var(--button-d);
}
.button[disabled]{
  pointer-events: none;
  cursor: not-allowed;
  filter: brightness(50%);
}
