@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.board {
  --_s: 5;
  position: relative;
  display: flex;
  grid-area: board;
  align-items: center;
  justify-content: center;
  width: calc(var(--_s) * 2.7rem + 7.4rem);
  height: calc(var(--_s) * 2.7rem + 7.4rem);
  overflow: hidden;
  background-color: var(--dark-bg);
  border: 3px solid var(--main-d);
  border-radius: 1rem;
  isolation: isolate;
}
.board.small {
  width: 16rem;
  height: 16rem;
}
.image {
  position: absolute;
  z-index: 2;
  width: 75%;
  height: 75%;
  margin-top: 10%;
  filter: brightness(var(--svg-bright));
  animation: show var(--trans-d) ease-out;
}
.bg,
.fg {
  position: absolute;
  width: 100%;
  height: 100%;
}
.bg {
  z-index: 1;
  filter: brightness(calc(var(--svg-bright) * 0.7));
}
.fg {
  z-index: 3;
  filter: brightness(calc(var(--svg-bright) * 0.85));
}
