@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.board {
  --_s: 5;
  width: calc(var(--_s) * 2.7rem + 7.4rem);
  height: calc(var(--_s) * 2.7rem + 7.4rem);
  border: 3px solid var(--main-d);
  border-radius: 1rem;
  grid-area: board;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: var(--dark-bg);
  overflow: hidden;
  isolation: isolate;
}
.board.small {
  width: 16rem;
  height: 16rem;
}
.image {
  position: absolute;
  margin-top: 10%;
  width: 75%;
  height: 75%;
  animation: show 0.15s ease-out;
  filter: brightness(var(--svg-bright));
  z-index: 2;
}
.bg,
.fg {
  position: absolute;
  width: 100%;
  height: 100%;
}
.bg {
  filter: brightness(calc(var(--svg-bright) * 0.7));
  z-index: 1;
}
.fg {
  filter: brightness(calc(var(--svg-bright) * 0.85));
  z-index: 3;
}
