@keyframes show{
  from  { opacity: 0 }
  to    { opacity: 1 }
}
.board{
  width: 20rem;
  height: 20rem;
  border: var(--border);
  border-radius: 1rem;
  grid-area: board;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.image{
  position: absolute;
  width: 90%;
  height: 90%;
  animation: show 0.15s ease-out;
}
