@keyframes rotate-r {
  0%    { transform: rotate(0deg) }
  100%  { transform: rotate(360deg) }
}
.wrapper{
  width: 100%;
  min-height: inherit;
  display: flex;
  flex-direction: column;
}
.container{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.container span{
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
  color: var(--main);
}
.animation{
  width: 10rem;
  height: 10rem;
  font-size: 7rem;
  text-align: center;
  font-family: var(--font-main);
  animation: rotate-r 3s infinite ease-in-out;
  filter: brightness(var(--svg-bright));
}
@media (min-width: 620px) and (orientation: landscape){
  .animation{
    width: 7rem;
    height: 7rem;
  }
}
