@keyframes rotate-r {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: inherit;
}
.container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}
.container span {
  font-size: 3rem;
  color: var(--main);
  text-align: center;
  text-transform: uppercase;
}
.animation {
  width: 10rem;
  height: 10rem;
  font-family: var(--font-main);
  font-size: 7rem;
  text-align: center;
  filter: brightness(var(--svg-bright));
  animation: rotate-r 3s infinite ease-in-out;
}
@media (min-width: 620px) and (min-aspect-ratio: 15 / 11) {
  .animation {
    width: 7rem;
    height: 7rem;
  }
}
