.confirm {
  display: block;
  width: 20rem;
  padding: 1rem;
  font-size: 2.2rem;
  text-align: center;
  white-space: pre-line;
  background-color: var(--dark-bg);
  border: 3px solid var(--main-d);
  border-radius: 0.5rem;
}
.confirm.long {
  width: 22rem;
  padding: 0.8rem;
  font-size: 1.6rem;
}
.confirm span {
  display: block;
  margin-bottom: 1rem;
}
.confirm.long span {
  margin-bottom: 0.2rem;
}
.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: end;
  width: 100%;
  padding: 0.5rem;
}
.confirm.long .buttons {
  padding: 0.1rem 0.5rem;
}
