.confirm{
  display: block;
  font-size: 2rem;
  border: var(--border);
  padding: 1rem;
  text-align: center;
  border-radius: 0.5rem;
  background: #050505;
  width: 20rem;
}
.confirm span{
  display: block;
  margin-bottom: 1rem;
}
.buttons{
  width: 100%;
  display: flex;
  padding: 0.5rem;
  flex-wrap: wrap;
  justify-content: end;
  gap: 1rem;
}
