@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.category {
  --_s: 5;
  grid-area: category;
  max-width: 22.4rem;
  max-height: 1em;
  overflow: hidden;
  font-size: calc(-0.2rem * var(--_s) + 2.6rem);
  white-space: break-spaces;
}
.short {
  max-height: unset;
  margin-bottom: 0.6rem;
  font-size: 2.2rem;
  line-height: 0.8;
  text-align: center;
}
.short .prefix {
  display: none;
}
.name {
  display: inline-block;
  text-transform: uppercase;
}
.name span {
  --_d: 0;

  animation-name: show;
  animation-duration: 0;
  animation-fill-mode: both;

  animation-delay: calc(var(--_d) * var(--trans-d));
}
.short .name {
  display: block;
}
@media (min-width: 620px) and (min-aspect-ratio: 15 / 11) {
  .short .prefix {
    display: inline-block;
  }
}
