@keyframes slide-up {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}
.counter {
  --_d: 0;

  display: inline-block;
  list-style-type: none;
  height: 1.1em;
  overflow-y: hidden;
}
.counter li {
  display: block;
  text-align: center;
  animation-duration: calc(var(--trans-d) * 3);
  animation-delay: calc(1ms * var(--_d) + var(--trans-d));
  animation-fill-mode: both;
  animation-timing-function: ease;
  transform: translateY(-100%);
}
.slide li {
  animation-name: slide-up;
}
