.category{
  font-size: 1.6rem;
  grid-area: category;
  white-space: break-spaces;
}
.name{
  text-transform: uppercase;
}
.short{
  font-size: 2.2rem;
  text-align: center;
  line-height: 0.8;
  margin-bottom: 0.6rem;
}
.short .prefix{
  display: none;
}
@media (min-width: 620px) and (orientation: landscape){
  .short .prefix{
    display: inline;
  }
}
