@keyframes show{
  from  { opacity: 0 }
  to    { opacity: 1 }
}
.result{
  font-family: 'Roboto Mono';
  font-size: 2rem;
  width: 18rem;
  height: 18rem;
  grid-area: result;
}
.result img{
  width: 100%;
  height: 100%;
  opacity: 0;
  animation-name: show;
  animation-duration: 0.3s;
  /* animation-delay: 0.1s; */
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}
.win{
  color: var(--good);
}
.lose{
  color: var(--bad);
}
.neutral{
  color: var(--light);
}
.entry{
  font-size: 1.8rem;
  font-family: 'Roboto Mono';
  /* color: var(--light); */
  display: block;
  line-height: 1.8;
  text-transform: uppercase;
  grid-area: entry;
  text-align: center;
}
.prefix{
  color: var(--darker);
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: main;
  flex: 1;
}
.wrapper{
  width: 100%;
  min-height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 620px) and (orientation: landscape){
  .result{
    width: 16rem;
    height: 16rem;
  }
  .container{
    margin: auto;
    flex: 0;
    min-width: 620px;
    gap: 1rem;
    display: grid;
    grid-template-columns: auto 23rem;
    grid-template-areas:
      "result entry"
      "result points";
    justify-content: center;
    align-items: center;
  }
}
