@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.result {
  font-family: var(--font-mono);
  font-size: 2rem;
  width: 18rem;
  height: 18rem;
  grid-area: result;
  margin-bottom: 2rem;
}
.result img {
  width: 100%;
  height: 100%;
  filter: brightness(var(--svg-bright));
  opacity: 0;
  animation-name: show;
  animation-duration: 0.3s;
  animation-delay: 0.1s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}
.win {
  color: var(--correct);
}
.lose {
  color: var(--mistake);
}
.phrase {
  font-size: 1.8rem;
  font-family: var(--font-mono);
  font-weight: 800;
  display: block;
  line-height: 1.8;
  text-transform: uppercase;
  grid-area: entry;
  text-align: center;
  text-shadow: 0 0 0.5rem var(--dark-bg);
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: main;
  flex: 1;
}
.wrapper {
  width: 100%;
  min-height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 620px) and (min-aspect-ratio: 15/11) {
  .result {
    width: 16rem;
    height: 16rem;
    margin-bottom: 0;
  }
  .container {
    margin: auto;
    flex: 0;
    min-width: 620px;
    gap: 1rem;
    display: grid;
    grid-template-columns: auto 23rem;
    grid-template-areas:
      "result category"
      "result entry"
      "result points";
    justify-content: center;
    align-items: center;
  }
}
