@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.result {
  grid-area: result;
  width: 18rem;
  height: 18rem;
  margin-bottom: 2rem;
  font-family: var(--font-mono);
  font-size: 2rem;
}
.result img {
  width: 100%;
  height: 100%;
  filter: brightness(var(--svg-bright));
  opacity: 0;
  animation-name: show;
  animation-duration: calc(var(--trans-d) * 2);
  animation-delay: var(--trans-d);
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}
.win {
  color: var(--correct);
}
.lose {
  color: var(--mistake);
}
.phrase {
  display: block;
  grid-area: entry;
  font-family: var(--font-mono);
  font-size: 1.8rem;
  font-weight: 800;
  line-height: 1.8;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 0.5rem var(--dark-bg);
}
.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  grid-area: main;
  align-items: center;
  justify-content: center;
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: inherit;
}
@media (min-width: 620px) and (min-aspect-ratio: 15 / 11) {
  .result {
    width: 16rem;
    height: 16rem;
    margin-bottom: 0;
  }
  .container {
    display: grid;
    flex: 0;
    grid-template-areas:
      "result category"
      "result entry"
      "result points";
    grid-template-columns: auto 23rem;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    min-width: 620px;
    margin: auto;
  }
}
