.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: inherit;
}
.games {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  gap: 1rem;
  align-items: stretch;
  justify-content: start;
  width: 22rem;
  max-height: calc(100vh - 16rem);
  padding: 1rem;
  margin: auto;
  overflow-y: auto;
  background-color: var(--darker-a);
  border: 3px solid var(--main-d);
  border-radius: 0.5rem;
}
.info {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: auto;
  font-family: var(--font-mono);
  font-size: 2.2rem;
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 620px) and (min-aspect-ratio: 15 / 11) {
  .games {
    flex-grow: 0;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 40rem;
    max-height: unset;
    background-color: transparent;
    border: none;
  }
}
