.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: inherit;
}
.container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
