.buttons{
  width: 16rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  margin: auto;
  gap: 0.8rem;
}
.small{
  display: flex;
  justify-content: space-evenly;
  /* padding: 0 1rem; */
}
