.buttons {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  align-items: stretch;
  justify-content: center;
  width: 16rem;
  margin: auto;
}
.small {
  display: flex;
  justify-content: space-evenly;
  /* padding: 0 1rem; */
}
