.buttons {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
  gap: 0.6rem 0.8rem;
  align-items: flex-end;
  justify-content: space-evenly;
  width: 100%;
  padding: 0.8rem 1rem 0.6rem;
}
@media (min-width: 620px) and (orientation: landscape) {
  .buttons {
    gap: 1rem;
    justify-content: center;
  }
}
