.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  grid-area: main;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
.text {
  font-family: var(--font-simple);
  font-size: 2.6rem;
  color: var(--main);
}
.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: inherit;
}
