.wrapper {
  display: flex;
  flex-direction: column;
  min-height: inherit;
  width: 100%;
}
.container {
  width: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
