.header {
  display: flex;
  height: var(--header-y);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-family: var(--font-main);
  font-size: 5rem;
  color: var(--main-d);
  text-align: center;
  cursor: default;
}
.full .header {
  display: none;
}
.header img {
  height: 90%;
  margin: auto;
  filter: drop-shadow(0 0 0.5rem var(--dark-bg));
}
