.header{
  font-family: 'Ubuntu';
  display: flex;
  font-size: 5rem;
  color: var(--second);
  text-align: center;
  cursor: default;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  height: 7rem;
}
.full .header{
  display: none;
}
.header img{
  margin: auto;
  height: 90%;
}
