.header{
  font-family: var(--font-main);
  display: flex;
  font-size: 5rem;
  color: var(--main-d);
  text-align: center;
  cursor: default;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  height: var(--header-y);
}
.full .header{
  display: none;
}
.header img{
  margin: auto;
  height: 90%;
}
