.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Ubuntu';
  font-size: 60px;
  gap: 40px;
  color: var(--light);
  text-align: center;
}
.win, .winner{
  color: var(--good);
}
.lose{
  color: var(--bad);
}
.neutral{
  color: var(--main);
}
.points{
  display: grid;
  grid-template-columns: 1fr auto;
  text-align: right;
  gap: 0 20px;
  font-size: 40px;
}
.winner::before{
  content: 'Zwycięzca:';
  display: block;
  color: var(--light);
}
.buttons{
  grid-area: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
}
