.keyboard {
  border: 3px solid var(--main-d);
  padding: 0.5rem;
  border-radius: 0.5rem;
  grid-area: keyboard;
  background-color: var(--dark-bg);
}
.keys {
  /* display: grid;
  grid-template-columns: repeat(7, 1fr); */
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  width: 21.2rem;
  justify-content: center;
}
