@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.lobby {
  border: 3px solid var(--main-d);
  background-color: var(--dark-bg);
  padding: 1rem;
  border-radius: 0.5rem;
  min-width: 18rem;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;

  opacity: 0;
  animation-delay: calc(var(--trans-d) / 2);
  animation-duration: calc(var(--trans-d) * 1.5);
  animation-fill-mode: both;
  animation-timing-function: ease-in;
  animation-name: show;
}
.lobby p {
  display: block;
  font-size: 3rem;
  color: var(--white);
  text-align: center;
}
