main {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - var(--header-y));
}
.full main {
  min-height: 100vh;
}
@supports (height: 100lvh) {
  main {
    min-height: calc(100lvh - var(--header-y));
  }
  .full main {
    min-height: 100lvh;
  }
}
