main{
  min-height: calc(100vh - var(--header-y));
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.full main{
  min-height: 100vh;
}
@supports (height: 100lvh){
  main{ min-height: calc(100lvh - var(--header-y)) }
  .full main{ min-height: 100lvh }
}
