main{
  min-height: calc(100vh - 7rem);
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.full main{
  min-height: 100vh;
}
@supports (height: 100lvh) {
  main{ min-height: calc(100lvh - 7rem) }
  .full main{ min-height: 100lvh }
}
