.correct{
  color: var(--good) !important;
  border-color: var(--good) !important;
  cursor: default !important;
}
.mistake{
  color: var(--bad) !important;
  border-color: var(--bad) !important;
  cursor: default !important;
}
main{
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
