@font-face {
  src: url('./Assets/Fonts/humaroid.otf');
  font-family: 'Humaroid';
  font-display: fallback;
}
@font-face {
  src: url('./Assets/Fonts/kingthings.ttf');
  font-family: 'Kingthings';
  font-display: fallback;
}
@font-face {
  src: url('./Assets/Fonts/unutterable.ttf');
  font-family: 'Unutterable';
  font-display: fallback;
}
*, *::before, *::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root{
  --main:   #225560;
  --light:  #30225d;
  --second: #2c4a60;
  --darker: #243b3c;
  --border: 2px solid var(--darker);


  --white:    #dadada;
  --dark-bg:  #050505;
  --button:   #225560;
  --button-d: #023540;
  --correct:  #0c523d;
  --mistake:  #4c1130;

  --font-mono:    'Kingthings';
  --font-main:    'Unutterable';
  --font-simple:  'Humaroid';

  font-size: 16px;
}
body{
  background-color: #171219;
  background-image: url('./Assets/Images/bg-no_license.jpg');
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  color: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  user-select: none;
  font-family: var(--font-simple);
  font-size: 1rem;
}
#root{
  min-width: 310px;
  min-height: 620px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}
#popup{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
}
#popup.active{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000aa;
}

@media (max-width: 399px){
  :root{ font-size: 12px; }
}
@media (min-width: 600px) and (orientation: portrait){
  :root{ font-size: 22px; }
}
@media (min-width: 620px) and (orientation: landscape){
  #root{ min-height: 350px; }
}
@media (max-width: 699px) and (orientation: landscape){
  :root{ font-size: 11px; }
}
@media (min-width: 1580px) and (orientation: landscape){
  :root{ font-size: 20px; }
}
