@font-face {
  src: url("./Assets/Fonts/humaroid.otf");
  font-family: "Humaroid";
  font-display: fallback;
}
@font-face {
  src: url("./Assets/Fonts/kingthings.otf");
  font-family: "Kingthings";
  font-display: fallback;
}
@font-face {
  src: url("./Assets/Fonts/unutterable.ttf");
  font-family: "Unutterable";
  font-display: fallback;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --white: #dadada;
  --dark-bg: #050505;
  --main: #225560;
  --main-d: #023540;
  --correct: #0c523d;
  --mistake: #6c1120;
  --darker-a: #00000088;

  --svg-bright: 85%;

  --font-mono: "Kingthings", monospace;
  --font-main: "Unutterable", "Comic Sans MS";
  --font-simple: "Humaroid", system-ui;

  --trans-d: 150ms;
  --header-y: 7rem;

  font-size: 16px;
}
*:focus-visible {
  outline: 0.2rem solid var(--main);
  outline-offset: 0.1rem;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: var(--font-simple);
  font-size: 1rem;
  color: var(--white);
  user-select: none;
  background-color: #090909;
  background-image: url("./Assets/Images/bg.webp");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
#root {
  display: flex;
  flex-direction: column;
  min-width: 310px;
  min-height: 620px;
  border-radius: 20px;
}
#popup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  display: flex;
  visibility: hidden;
  align-items: center;
  justify-content: center;
  background-color: var(--darker-a);
  opacity: 0;
  backdrop-filter: blur(2px);
  transition:
    visibility var(--trans-d) ease,
    opacity var(--trans-d) ease;
}
#popup.active {
  visibility: visible;
  opacity: 1;
}
#preload {
  display: none;
}
#splash {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  visibility: visible;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  height: 100dvh;
  padding: 32px;
  pointer-events: none;
  background-color: #090909;
  opacity: 1;
}
#splash.hide {
  z-index: -1000;
  visibility: hidden;
  opacity: 0;
  transition:
    z-index var(--trans-d) ease var(--trans-d),
    visibility var(--trans-d) ease var(--trans-d),
    opacity var(--trans-d) ease var(--trans-d);
}
#splash p {
  opacity: 0.75;
}

@media (prefers-reduced-motion: reduce) {
  :root {
    --trans-d: 0ms;
  }
}

@media (max-width: 399px) {
  :root {
    font-size: 12px;
  }
}
@media (max-width: 899px) and (max-height: 399px) {
  :root {
    font-size: 12px;
  }
}
@media (min-width: 600px) and (max-aspect-ratio: 15 / 11) {
  :root {
    font-size: 22px;
  }
}
@media (min-width: 620px) and (min-aspect-ratio: 15 / 11) {
  #root {
    min-height: 280px;
  }
}
@media (max-width: 699px) and (min-aspect-ratio: 15 / 11) {
  :root {
    font-size: 11px;
  }
}
@media (min-height: 580px) and (min-aspect-ratio: 15 / 11) {
  :root {
    font-size: 18px;
  }
}
@media (min-height: 660px) and (min-aspect-ratio: 15 / 11) {
  :root {
    font-size: 20px;
  }
}
@media (min-height: 820px) and (min-aspect-ratio: 15 / 11) {
  :root {
    font-size: 22px;
  }
}
@media (min-height: 880px) and (min-aspect-ratio: 15 / 11) {
  :root {
    font-size: 25px;
  }
}
