@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Ubuntu:wght@300;400&display=swap');
/* @font-face {
  src: url('./Assets/3PROT.TTF');
  font-family: '3PRONG'
}
@font-face {
  src: url('./Assets/bamboo-gothic.book.ttf');
  font-family: 'Bamboo'
}
@font-face {
  src: url('./Assets/BAD-GRUNGE.ttf');
  font-family: 'Bad Grunge'
} */
