@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Ubuntu:wght@300;400&display=swap');

*, *::before, *::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root{
  --main:   #6fd8c8;
  --light:  #5e492f;
  --second: #2c4a60;
  --darker: #394855;
  --good:   #007d5c;
  --bad:    #824958;

  --border: 1px solid var(--darker);

  font-size: 16px;
}
body{
  background-color: #050505;
  color: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  user-select: none;
  font-family: 'Roboto Mono';
  font-size: 1rem;
}
#root{
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#popup{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
}
#popup.active{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000aa;
}
