.key {
  appearance: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  border: 2px solid var(--main-d);
  border-radius: 0.5rem;
  background-color: var(--main);
  cursor: pointer;
  padding: 0.1rem;
  font-size: 2rem;
  width: 1.3em;
  height: 1.3em;
  user-select: none;
  transition: background-color 150ms ease-out;
  font-family: var(--font-simple);
  text-align: center;
}
.key:hover {
  background-color: var(--main-d);
}
.wide {
  width: 5em;
}
.key svg {
  max-width: 80%;
  max-height: 80%;
}
