.key {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.3em;
  height: 1.3em;
  padding: 0.1rem;
  font-family: var(--font-simple);
  font-size: 2rem;
  color: var(--white);
  text-align: center;
  appearance: none;
  cursor: pointer;
  user-select: none;
  background-color: var(--main);
  border: 2px solid var(--main-d);
  border-radius: 0.5rem;
  transition: background-color var(--trans-d) ease-out;
}
.key:hover {
  background-color: var(--main-d);
}
.mistake,
.mistake:hover {
  pointer-events: none;
  background-color: var(--mistake);
}
.correct,
.correct:hover {
  pointer-events: none;
  background-color: var(--correct);
}
.key svg {
  max-width: 80%;
  max-height: 80%;
}
.wide {
  width: 5em;
}
